version: '3.8'

services:
  tests:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: effective-mobile-tests
    volumes:
      - ./allure-results:/app/allure-results
    environment:
      - PYTHONUNBUFFERED=1
    networks:
      - test-network

  # Опциональный сервис для просмотра Allure отчетов
  allure:
    image: frankescobar/allure-docker-service:latest
    container_name: allure-report
    ports:
      - "5050:5050"
    volumes:
      - ./allure-results:/app/allure-results
      - ./allure-report:/app/default-reports
    environment:
      CHECK_RESULTS_EVERY_SECONDS: 5
      KEEP_HISTORY: 1
    depends_on:
      - tests
    networks:
      - test-network

networks:
  test-network:
    driver: bridge
